/* images
https://i.ibb.co/vXqDmnh/background.jpg
https://i.ibb.co/J2xDJV7/tab-content-1.png
https://i.ibb.co/DpdN7Gn/tab-content-2-1.png
https://i.ibb.co/R3r1SPX/tab-content-2-2.png
https://i.ibb.co/gDhnwWn/tab-content-2-3.png
*/

:root{
    --mainColor: #e50914;
    --darkColor: #141414;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
    perspective: 1500px;
}

ul{
    list-style: none;
}

h1,
h2,
h3,
h4{
    color: #fff;
}

a{
    color: #fff;
    text-decoration: none;
}

p{
    margin: .5rem 0;
}

img{
    width: 100%;
}

.btn{
    display: inline-block;
    border: 2px solid var(--mainColor);
    color: #fff;
    padding: .4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    margin-right: .5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0,0,0,0.45);
    border-radius: 2px;
}

.btn:hover{
    opacity: 0.9;
}

/* Header begin */

.showcase{
    width: 100vw;
    height: 93vh;
    position: relative;
    overflow: hidden;
}

.scaseContainer{
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    background: url(https://i.ibb.co/vXqDmnh/background.jpg) no-repeat center/cover;
    box-shadow: inset 120px 100px 250px #000, inset -120px -100px 250px #000;
}

.showcaseTop{
    position: relative;
    height: 90px;
    z-index: 2;
}

.showcaseTop img{
    width: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btnXl{
    margin: 0;
    font-size: 2rem;
    padding: 1.5rem 2.1rem;
    text-transform: uppercase;
    background: var(--mainColor);
    border: 1px solid var(--mainColor);
    border-radius: 12px;
}


.showcaseTop a{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}


.showcaseContent{
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 11rem;
    z-index: 2;
}

.showcaseContent h1{
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.1;
    margin: 0 0 2rem;
}

.showcaseContent p{
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.25;
    margin: 0 0 2rem;
}

.watchFree, 
.showcaseContent h1, 
.showcaseContent p{
    transition: all 0.6s ease-in-out;
}

.watchFree{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.signIn{
    width: 20%;
    background: rgba(0,0,0,0.45);
    color: #fff;
    margin-top: -2rem;
    border: 1px solid var(--mainColor);
    padding: 0.5rem;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
    align-self: center;
    opacity: 0;
    z-index: -5;
}
.signIn:hover{
    background: #bbb;
}

.signIn.active{
    opacity: 1;
    margin-top: 1.5rem;
}

#signIn{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 0 3rem;
    border-radius: 20px;
    color: #ddd;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: center;
    cursor: pointer;
}

#signIn::after{
    content: '';
    width: 100%;
    height: 2px;
    border-radius: 3px;
    display: block;
    background: rgba(221, 221, 221, 0.721);
}



/* Tab Icon */

.tabs{
    background: var(--darkColor);
    padding-top: 1rem;
    border-bottom: 3px solid #3d3d3d;
}

.tabs .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    place-items: center;
    text-align: center;
}

.tabs p{
    font-size: 1.2rem;
    padding-top: .5rem;;
}

.tabs .container > div{
    padding: 1.5rem 0;
}

.tabs .container > div:hover{
    color: #ffffff;
    cursor: pointer;
}

.tabBorder{
    width: 100%;
    border-bottom: 3px solid var(--mainColor);
    transform-origin: right;
    /* transition: all 200ms ease-in-out; */
}


/* Tab Content */

.tabContent{
    padding: 3rem 0;
    background: #000;
    color: #fff;
}

/* Hide Unselected Tab Content */
#tab1Content,
#tab2Content,
#tab3Content{
    display: none;
}

.show{
    display: block !important;
}

#tab1Content .tab1ContentInner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    place-items: center;
}

#tab2Content .tab2ContentTop{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    place-items: center;
}
#tab2Content .tab2ContentBottom{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    place-items: center;
    text-align: center;
}

/* Tab 3 Content */

#tab3Content .tab3ContentTop{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    place-items: center;
}

.table{
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border-spacing: 0;
}

.table thead th{
    text-transform: uppercase;
    padding: 0.8rem;
}

.table tbody tr td{
    column-rule: #999;
    padding: .8rem 1.2rem;
    text-align: center;
}

.table tbody tr td:first-child{
    text-align: left;
}

.table tbody tr:nth-child(even){
    background: #222;
}

/* Footer */
.footer{
    max-width: 75%;
    margin: 1rem auto;
    overflow: auto;
}

.footer, .footer a{
    color: #999;
    font-size: .9rem;
}
.footer p{
    margin-bottom: 1.5rem;
}

.footer .footerCols{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.footer li{
    line-height: 1.9;
}

/* Container */

.container{
    max-width: 90%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

/* text  */
.textXl{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.textLg{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.textMd{
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.textCenter{
    text-align: center;
}

.textDark{
    color: #999;
}


/* Buttons */

.btnLg{
    font-size: 1rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
}
/* Media Queries */

@media(max-width: 960px) {
    .showcase{
        height: 93vh;
    }

    .hide-sm{
        display: none;
    }

    .showcaseTop img{
        width: 100px;
        top: 30%;
        left: 5%;
        transform: translate(0);
    }

    .showcaseContent h1{
        font-size: 3.7rem;
        line-height: 1;
    }

    .showcaseContent p{
        font-size: 1.5rem;
    }

    .footer .footerCols{
        grid-template-columns: repeat(2,1fr) ;
    }

    .btnXl{
        font-size: 1.5rem;
        padding: 1.4rem 2rem;
        background: var(--mainColor);
    }

    .textXl{
        font-size: 1.5rem;
    }

    .textLg{
        font-size: 1.3rem;
    }

    .textMd{
        font-size: 1rem;
    }
}

@media(max-width: 700px){
    .showcaseTop a{
        right: 2%;
        transform: translate(0, -50%);
    }

    .showcase::after{
        box-shadow: inset 80px 80px 250px #000, inset -80 -80 250px #000;
    }

    #tab1Content,
    #tab2Content,
    #tab3Content{
        display: block;
        padding-bottom: 2rem;
}

    .tabs .tabItem{
        display: none;
    }

    #tab1Content .tab1ContentInner{
        grid-template-columns: 1fr;
        text-align: center;
    }

    #tab2Content .tab2ContentTop{
        display: block;
        text-align: center;
    }

    #tab2Content .tab2ContentBottom{
        grid-template-columns: 1fr;
    }
}